.button-group {
  max-width: 100% !important;
  > div,
  > button {
    flex-grow: 0;
    flex-basis: auto;
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    &.error {
      .download-container:hover {
        background-color: rgba(244, 33, 46, 0.1);
      }
    }

    .download-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 100%;
      transition-duration: 0.2s;
      transition-property: background-color, box-shadow;
      font-size: 17px;

      svg {
        fill: currentcolor;
      }

      &:hover {
        background-color: rgba(29, 161, 242, 0.1);
      }

      .download-icon,
      .success-icon {
        color: rgb(29, 161, 242);
      }

      .error-icon {
        color: rgb(244, 33, 46);
      }

      .success-icon,
      .error-icon {
        display: none;
      }

      .loading-icon {
        display: none;
        animation-timing-function: linear;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-duration: 0.75s;

        circle {
          stroke: rgb(29, 161, 242);

          &:first-child {
            opacity: 0.2;
          }

          &:nth-child(2) {
            stroke-dasharray: 80;
            stroke-dashoffset: 60;
          }
        }
      }
    }

    &.loading {
      .loading-icon {
        display: flex;
      }
      .download-icon,
      .error-icon,
      .success-icon {
        display: none;
      }
    }
    &.success {
      .success-icon {
        display: flex;
      }
      .download-icon,
      .error-icon,
      .loading-icon {
        display: none;
      }
    }
    &.error {
      .error-icon {
        display: flex;
      }
      .download-icon,
      .success-icon,
      .loading-icon {
        display: none;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
